In [87]:
import pandas as pd

In [96]:
df_placar = pd.read_excel("placar.xlsx")
pontuacao

        Data  Lindemberg  César  Cezimar  Eduardo  Ináico
0 2024-07-21           6      4        2        0       0
1 2024-07-28           7      5        0        0       0
2 2024-08-03           8      6        4        0       0
3 2024-08-15           9      7        0        0       0
4 2024-08-24           9      7        5        0       0
5 2024-09-01          12      7        0        1       0

In [95]:
# Lindemberg dicionário 
lindemberg = {
    "21/07/2024": 6,
    "28/07/2024": 7,
    "03/08/2024": 8,
    "15/08/2024": 9,
    "24/08/2024": 9,
    "01/09/2024": 12
}

df_lindemberg = pd.DataFrame([lindemberg])
df_lindemberg

   21/07/2024  28/07/2024  03/08/2024  15/08/2024  24/08/2024  01/09/2024
0           6           7           8           9           9          12

In [89]:

# César dicionário 
cesar = {
    "21/07/2024": 4,
    "28/07/2024": 5,
    "03/08/2024": 6,
    "15/08/2024": 7,
    "24/08/2024": 7,
    "01/09/2024": 7
}

df_cesar = pd.DataFrame([cesar])

# Cezimar dicionário 
cezimar = {
    "21/07/2024": 2,
    "28/07/2024": 2,
    "03/08/2024": 4,
    "15/08/2024": 4,
    "24/08/2024": 5,
    "01/09/2024": 5
}

df_cezimar = pd.DataFrame([cezimar])

# Eduardo dicionário 
eduardo = {
    "21/07/2024": 0,
    "28/07/2024": 0,
    "03/08/2024": 0,
    "15/08/2024": 0,
    "24/08/2024": 0,
    "01/09/2024": 1
}

df_eduardo = pd.DataFrame([eduardo])

# Inácio dicionário 
inacio = {
    "21/07/2024": 0,
    "28/07/2024": 0,
    "03/08/2024": 0,
    "15/08/2024": 0,
    "24/08/2024": 0,
    "01/09/2024": 0
}

df_inacio = pd.DataFrame([inacio])

ordem_colunas = ['César', 'Cezimar', 'Inácio', 'Lindemberg']

# Josivan dicionário 
#josivan = {"21/07/2024": 0, "28/07/2024": 0, "03/08/2024": 0, "15/08/2024": 0, "24/08/2024": 0, "01/09/2024": 0}


# título

In [90]:



# tabela ->
df_placar = pd.DataFrame()

# transforma o indice com nome dos clubess em uma coluna com o nome dos clubes
#df_gols = df_gols[times].index
df_gols = df_gols.reset_index(drop=True)
# criando nova coluna com nome dos times
df_gols["clubes"] = times

df_gols = df_gols.reindex(columns=nova_ordem_gols)
df_gols

In [91]:
ordem_colunas = ['César', 'Cezimar', 'Inácio', 'Lindemberg']
df_placar = df_placar.reset_index(drop=True)
df_placar = df_placar.reindex(columns=ordem_colunas)
#df_placar = df_placar.rename(columns={0: 'Data'})
df_placar["Lindemberg"] = df_lindemberg.sum()
df_placar["César"] = df_cesar.sum()
df_placar["Cezimar"] = df_cezimar.sum()
df_placar["Inácio"] = df_inacio.sum()

In [92]:
print(df_placar.columns)

Index(['César', 'Cezimar', 'Inácio', 'Lindemberg'], dtype='object')

In [93]:
df_placar.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 21/07/2024 to 01/09/2024
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   César       6 non-null      int64
 1   Cezimar     6 non-null      int64
 2   Inácio      6 non-null      int64
 3   Lindemberg  6 non-null      int64
dtypes: int64(4)
memory usage: 240.0+ bytes

In [94]:
df_placar

            César  Cezimar  Inácio  Lindemberg
21/07/2024      4        2       0           6
28/07/2024      5        2       0           7
03/08/2024      6        4       0           8
15/08/2024      7        4       0           9
24/08/2024      7        5       0           9
01/09/2024      7        5       0          12